# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
ADMIN_SETUP.md*
DEPLOYMENT_GUIDE.md*
AUTOMATED_CLEANUP.md*
GOOGLE_CALENDAR_INTEGRATION.md*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
