@import "./Case.css";
@import "./Nav.css";
@import "./Home.css";
@import "./Tasks.css";
@import "./Calendar.css";
@import "./Inbox.css";
@import "./Loader.css";
@import "./Profile.css";
@import "./Admin.css";
@import "./TimeTracker.css";

#root {
  --root-bg-color-dark: rgb(18, 18, 18);
  --main-bg-color-dark: rgb(26, 26, 26);
  --root-bg-color-light: rgb(246, 246, 246);
  --super-light-grey: rgb(252, 252, 252);
  --main-bg-color-light: rgb(255, 255, 255);
  --light-light-grey: rgb(201, 201, 201);
  --light-grey: rgb(161, 161, 161);
  --grey: rgb(109, 109, 109);
  --dark-grey: rgb(54, 54, 54);
  --medium-border: rgb(210, 210, 210);
  --light-border: rgb(225, 225, 225);
  --clg-green: #08331d;
  --red: #ff3f6f;
  --dark-red: #c42f54;
  --blue: #648dff;
  --dark-blue: #4b6cc7;
  --purple: #b651f5;
  --dark-purple: #8539b5;
  --bright-green: rgb(67, 138, 100);
  --bright-dark-green: rgb(47, 98, 73);
  --button-active-font: rgb(33, 98, 75);
  --button-active-bg: rgb(226, 255, 242);
  --button-active-bg-hover: rgb(194, 242, 220);
  --button-active-border: rgb(205, 239, 205);
  --white-bg: white;
  --gradient: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--root-bg-color-light);

    color: black;
  }
  .app-wrapper {
    background-color: var(--root-bg-color-light);
    background-image: url("../assets/clg-crm-bg.jpg");
    background-size: cover;
  }
  .page-wrapper {
    background-color: var(--main-bg-color-light);
    color: black;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--root-bg-color-dark);
    color: white;
  }
  .app-wrapper {
    background-image: url("../assets/clg-crm-bg.jpg");
  }
  .page-wrapper {
    background-color: var(--main-bg-color-dark);
  }
  .nav-bar {
    background-color: var(--main-bg-color-dark);
  }
  button,
  .button {
    background-color: var(--root-bg-color-dark);
  }
  .inactive-nav {
    color: white;
  }
  #root {
    --root-bg-color-light: #0a0a0a;
    --light-border: #2a2a2a;
    --super-light-grey: #171717;
  }
  .widget-container,
  .widget-header,
  .case-card-wrapper,
  .notes-textarea,
  .task-view-wrapper {
    background-color: #0a0a0a !important;
  }
  .comment-input-wrapper {
    background-color: #3b3b3b !important;
  }
  .case-card-head,
  .phase-icon-wrapper,
  .notes-heading,
  .tasks-list-head p {
    color: white !important;
  }
}

/* Autofill */
@keyframes onAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}

@keyframes onAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}

/* Loader animation */
@keyframes quickFlash {
  0% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgb(237, 237, 237);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

.flash {
  animation: quickFlash 1500ms infinite;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-input-field:-webkit-autofill {
  animation-name: onAutoFillStart;
}

.person-input-field:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}

/* Alternative approach using background color detection */
.person-input-field:-webkit-autofill,
.person-input-field:-webkit-autofill:hover,
.person-input-field:-webkit-autofill:focus,
.person-input-field:-webkit-autofill:active {
  transition-delay: 99999s;
  transition-property: background-color, color;
}

/* General */

a {
  text-decoration: none;
}

button,
.button {
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
.button:hover {
  color: var(--bright-green);
  border: 1px solid var(--light-border);
}

.button-primary {
  font-size: 0.85rem;
  background-color: var(--bright-green);
  border: none;
  color: white;
  padding: 6px 10px;
  transition: 70ms;
}
.button-primary:hover {
  background-color: var(--bright-dark-green);
  color: white;
  border: none;
}

.app-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.page-wrapper {
  border: 1px solid var(--light-border);
  border-radius: 8px;
  width: 100%;
  margin: 15px;
}
.section-heading {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}
h3 {
  font-weight: 500;
  font-size: 1rem;
  margin: 5px 0px;
}
h4 {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 5px 0px;
}
h5 {
  font-weight: 400;
  margin: 5px 0px;
}

/* Login */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-wrapper form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 300px;
}
.login-wrapper form input {
  padding: 10px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.login-wrapper form button {
  background-color: var(--bright-dark-green);
  color: white;
}

/* Priority toggle */
.priority-toggle-wrapper {
  position: relative;
  cursor: pointer;
}
.priority-toggle-dropdown {
  position: absolute;
  background-color: white;
  z-index: 999;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  top: 115%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.priority-toggle-container {
  padding: 3px 6px;
}
.priority-toggle-container:hover {
  background-color: var(--root-bg-color-light);
}

/* Priority Icon */
.priority-icon {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-size: 0.85rem;
  margin: 0;
}
.priority-icon-wrapper {
  padding: 5px;
  max-width: 200px;
}
.priority-icon-wrapper:hover {
  background-color: var(--root-bg-color-light);
  border-radius: 5px;
}
.high-priority i {
  color: var(--red);
}
.normal-priority i {
  color: var(--bright-green);
}
.low-priority i {
  color: var(--blue);
}

/* ProfilePic component */
.profile-pic-wrapper img {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

/* Activity Log */
.activity-log-item-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding: 1px 10px;
}
.task-view-activity-wrapper .activity-log-wrapper {
  max-height: 85vh;
}
@media screen and (max-height: 900px) {
  .task-view-activity-wrapper .activity-log-wrapper {
    max-height: 80vh;
  }
}
@media screen and (max-height: 730px) {
  .task-view-activity-wrapper .activity-log-wrapper {
    max-height: 75vh;
  }
}
.activity-log-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 1rem);
  max-height: 60vh;
  overflow: hidden;
  margin-bottom: 70px;
}
.activity-log-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;
}
.activity-log-item-p {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 0.8rem;
  color: var(--grey);
  margin: 0;
}
.activity-log-dot {
  font-size: 5px;
}

/* Comment Input */

.comment-input-wrapper {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 4rem);
  display: flex;
  padding: 12px 12px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  background-color: white;
  column-gap: 1rem;
  align-items: flex-end;
  box-shadow: 0px -10px 0px 0px var(--root-bg-color-light);
}
.comment-input-wrapper textarea {
  width: 100%;
  border: none;
  outline: none;
  field-sizing: content;
  resize: none;
  font-family: inherit;
}

#comment-enter-icon {
  color: var(--grey);
  font-size: 0.9rem;
  margin-bottom: 2px;
  cursor: pointer;
}
#comment-enter-icon:hover {
  color: var(--bright-dark-green);
}

/* Comment Items */
.comment-item-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  background-color: white;
  margin: 2px 0px;
}
.comment-item-header {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--light-border);
}
.comment-item-header-user {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 0.9rem;
}
#comment-profile-pic {
  width: 25px;
  height: auto;
  border-radius: 50%;
}
.comment-item-date {
  font-size: 0.8rem;
  color: var(--grey);
}
.comment-item-comment {
  padding: 10px;
  font-size: 0.85rem;
}

/* Date Picker */
div.date-picker-wrapper > div > div > input[type="text"] {
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: unset;
  outline: none;
  width: 100%;
}
.date-picker-wrapper:hover {
  background-color: var(--root-bg-color-light);
  border-radius: 5px;
}
.date-picker-wrapper {
  display: flex;
  align-items: center;
  max-width: 200px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.date-picker-wrapper i {
  color: var(--grey);
}

.date-picker-wrapper {
  z-index: 1;
  padding: 0 5px;
  max-width: 150px;
}
.react-datepicker__input-container {
  display: flex !important;
  align-items: center;
}
.react-datepicker__close-icon {
  position: relative !important;
  display: flex !important;
  align-items: center;
}
.react-datepicker__close-icon:hover {
  border: none;
}
.react-datepicker__close-icon::after {
  background-color: unset !important;
  color: var(--grey) !important;
  font-size: 1.25rem !important;
  height: auto !important;
  width: auto !important;
  margin-bottom: 3px;
}
.react-datepicker__close-icon::after:hover {
  color: black;
}
.clear-date-hidden {
  visibility: hidden;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--bright-green) !important;
}

/* Notes */
.notes-heading {
  font-size: 0.9rem;
  color: var(--dark-grey);
  margin-bottom: 0.5rem;
}

.notes-textarea {
  width: calc(100% - 30px);
  resize: none;
  padding: 15px;
}

/* Assignee Toggle */
.assignee-list-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: start;
  position: relative;
  min-height: 30px;
}
.new-case-assignee-placeholder p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--grey);
}
.new-case-assignee-placeholder {
  display: flex;
  align-items: center;
}
.assignee-toggle-add-wrapper-new {
  cursor: pointer;
  margin-left: 3px;
}
.assignee-toggle-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.assignee-toggle-wrapper {
  overflow: visible;
  position: relative;
  display: flex;
  align-items: center;
}
.assignee-toggle-x {
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 999;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--red);
}
.assignee-toggle-x:hover {
  color: var(--dark-red);
}
.assignee-toggle-name {
  font-size: 0.75rem;
  position: absolute;
  /* background-color: lightblue; */
  padding: 3px 10px;
  left: -8px;
  top: 30px;
  border-radius: 10px;
}
.assignee-toggle-add-wrapper {
  margin-left: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
  color: var(--grey);
}
.assignee-toggle-add-wrapper:hover {
  color: black;
}
.assignee-add-container {
  width: 100%;
  position: relative;
}
.no-users-found {
  color: var(--grey);
  font-size: 0.9rem;
}
.no-users-found:hover {
  background-color: unset !important;
  border: unset !important;
  cursor: default !important;
}

/* AssigneeAddToggle */
.assignee-add-toggle-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -3px;
  left: 5px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  min-width: 150px;
  width: 100%;
  padding: 10px;
  background-color: white;
  row-gap: 10px;
  z-index: 999;
  max-width: 150px;
  overflow: scroll;
  max-height: 30vh;
}
.assignee-add-toggle-wrapper p:nth-child(1) {
  margin: 0;
  font-size: 0.9rem;
  color: var(--grey);
}
.assignee-add-toggle-item {
  display: flex;
  column-gap: 10px;
  padding: 5px;
  margin-left: -5px;
  border-radius: 5px;
  border: 1px solid transparent;
  border-left: 0px;
  border-right: 0px;
  cursor: pointer;
}
.assignee-add-toggle-item:hover {
  background-color: var(--root-bg-color-light);
  border: 1px solid var(--light-border);
}
.assignee-add-toggle-pic {
  width: 25px;
  height: auto;
  border-radius: 50%;
}
.assignee-add-toggle-item p {
  margin: 0;
}
.confirm-modal-wrapper {
  background-color: white;
  padding: 15px;
  z-index: 999;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm-modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.confirm-modal-buttons button {
  font-size: 0.9rem;
}
#cancel {
  background-color: white;
}
#cancel:hover {
  color: black;
  background-color: var(--root-bg-color-light);
}
#confirm {
  background-color: var(--red);
  border: none;
  color: white;
}
#confirm:hover {
  background-color: var(--dark-red);
}
.denied-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Activity */
.activity-show-wrapper {
  background-color: var(--root-bg-color-light);
  width: calc(100% - 3rem);
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.activity-show-wrapper p,
.activity-show-wrapper i {
  margin: 0;
  font-size: 0.85rem;
  color: var(--dark-grey);
  cursor: pointer;
  margin-top: 10px;
}
.activity-show-wrapper i {
  font-size: 0.7rem;
}
.activity-show-wrapper p:hover,
.activity-show-wrapper p:hover {
  color: black;
}
#activity-heading {
  margin-bottom: 3px;
}
