@import "./CaseStyles.css";
@import "./Nav.css";
@import "./Home.css";
@import "./Tasks.css";
@import "./Calendar.css";
@import "./Inbox.css";
@import "./Loader.css";
@import "./Profile.css";

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--root-bg-color-light);

    color: black;
  }
  .app-wrapper {
    background-color: var(--root-bg-color-light);
    background-image: url("../assets/clg-crm-bg.jpg");
    background-size: cover;
  }
  .page-wrapper {
    background-color: var(--main-bg-color-light);
    color: black;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--root-bg-color-dark);
    color: white;
  }
  .page-wrapper {
    background-color: var(--main-bg-color-dark);
  }
  .nav-bar {
    background-color: var(--main-bg-color-dark);
  }
  button,
  .button {
    background-color: var(--root-bg-color-dark);
  }
  .inactive-nav {
    color: white;
  }
}

/* Autofill */
@keyframes onAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}

@keyframes onAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}

/* Loader animation */
@keyframes quickFlash {
  0% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgb(237, 237, 237);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}

.flash {
  animation: quickFlash 1500ms infinite;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-input-field:-webkit-autofill {
  animation-name: onAutoFillStart;
}

.person-input-field:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}

/* Alternative approach using background color detection */
.person-input-field:-webkit-autofill,
.person-input-field:-webkit-autofill:hover,
.person-input-field:-webkit-autofill:focus,
.person-input-field:-webkit-autofill:active {
  transition-delay: 99999s;
  transition-property: background-color, color;
}

/* General */
#root {
  --root-bg-color-dark: rgb(18, 18, 18);
  --main-bg-color-dark: rgb(26, 26, 26);
  --root-bg-color-light: rgb(246, 246, 246);
  --super-light-grey: rgb(252, 252, 252);
  --main-bg-color-light: rgb(255, 255, 255);
  --light-grey: rgb(161, 161, 161);
  --grey: rgb(109, 109, 109);
  --dark-grey: rgb(54, 54, 54);
  --medium-border: rgb(210, 210, 210);
  --light-border: rgb(225, 225, 225);
  --glc-green: #08331d;
  --red: rgb(231, 13, 13);
  --blue: rgb(91, 135, 255);
  --purple: rgb(92, 29, 227);
  --bright-green: rgb(67, 138, 67);
  --bright-dark-green: rgb(47, 98, 47);
  --button-active-font: rgb(33, 98, 33);
  --button-active-bg: rgb(226, 255, 242);
  --button-active-bg-hover: rgba(188, 243, 218, 0.512);
  --button-active-border: rgb(205, 239, 205);
  --white-bg: white;
  --gradient: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

a {
  text-decoration: none;
}

button,
.button {
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
.button:hover {
  color: var(--bright-green);
  border: 1px solid var(--light-border);
}

.button-primary {
  font-size: 0.85rem;
  background-color: var(--bright-green);
  border: none;
  color: white;
  padding: 6px 10px;
  transition: 70ms;
}
.button-primary:hover {
  background-color: var(--bright-dark-green);
  color: white;
  border: none;
}

.app-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.page-wrapper {
  border: 1px solid var(--light-border);
  border-radius: 5px;
  width: 100%;
  margin: 15px;
}
.section-heading {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
}
h3 {
  font-weight: 500;
  font-size: 1rem;
  margin: 5px 0px;
}
h4 {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 5px 0px;
}
h5 {
  font-weight: 400;
  margin: 5px 0px;
}

/* Login */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-wrapper form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 300px;
}
.login-wrapper form input {
  padding: 10px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.login-wrapper form button {
  background-color: var(--bright-dark-green);
  color: white;
}

/* Priority toggle */
.priority-toggle-wrapper {
  position: relative;
  cursor: pointer;
}
.priority-toggle-dropdown {
  position: absolute;
  background-color: white;
  z-index: 999;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  padding: 10px;
  top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/* Priority Icon */
.priority-icon {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-size: 0.85rem;
  margin: 0;
}
.priority-icon-wrapper {
  padding: 5px;
}
.priority-icon-wrapper:hover {
  background-color: var(--root-bg-color-light);
  border-radius: 5px;
}
.high-priority i {
  color: var(--red);
}
.normal-priority i {
  color: var(--bright-green);
}
.low-priority i {
  color: var(--blue);
}

/* ProfilePic component */
.profile-pic-wrapper {
  height: auto;
}
.profile-pic-wrapper img {
  width: 25px;
  border-radius: 50%;
}

/* Activity Log */
.activity-log-item-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.activity-log-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.activity-log-item-p {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 0.8rem;
  color: var(--grey);
  margin: 0;
}
.activity-log-dot {
  font-size: 5px;
}

/* Date Picker */
div.date-picker-wrapper > div > div > input[type="text"] {
  border: none;
  padding: 5px;
  cursor: pointer;
}
div.date-picker-wrapper > div > div > input[type="text"]:hover {
  background-color: var(--root-bg-color-light);
  border-radius: 5px;
}

/* Notes */
.notes-heading {
  font-size: 0.9rem;
  color: var(--dark-grey);
  margin-bottom: 0.5rem;
}

.case-notes textarea {
  min-height: 20vh;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.case-notes textarea:focus-visible {
  outline: none;
}

.notes-textarea {
  width: calc(100% - 30px);
  resize: none;
  padding: 15px;
}

/* Assignee Toggle */
.assignee-list-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: top;
  position: relative;
}
.new-case-assignee-placeholder p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--grey);
}
.new-case-assignee-placeholder {
  display: flex;
  align-items: center;
}
.assignee-toggle-add-wrapper-new {
  cursor: pointer;
  margin-left: 3px;
}
.assignee-toggle-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.assignee-toggle-wrapper {
  overflow: visible;
  position: relative;
  display: flex;
  /* align-items: center; */
}
.assignee-toggle-x {
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 999;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.assignee-toggle-name {
  font-size: 0.75rem;
  position: absolute;
  /* background-color: lightblue; */
  padding: 3px 10px;
  left: -8px;
  top: 30px;
  border-radius: 10px;
}
.assignee-toggle-add-wrapper {
  margin-left: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
}
.assignee-add-container {
  width: 100%;
  position: relative;
}

/* AssigneeAddToggle */
.assignee-add-toggle-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -3px;
  left: 5px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  min-width: 150px;
  width: 100%;
  padding: 10px;
  background-color: white;
  row-gap: 10px;
  z-index: 999;
}
.assignee-add-toggle-wrapper p:nth-child(1) {
  margin: 0;
  font-size: 0.9rem;
  color: var(--grey);
}
.assignee-add-toggle-item {
  display: flex;
  column-gap: 10px;
  padding: 5px;
  margin-left: -5px;
  border-radius: 5px;
  border: 1px solid transparent;
  border-left: 0px;
  border-right: 0px;
  cursor: pointer;
}
.assignee-add-toggle-item:hover {
  background-color: var(--root-bg-color-light);
  border: 1px solid var(--light-border);
}
.assignee-add-toggle-pic {
  width: 25px;
  height: auto;
  border-radius: 50%;
}
.assignee-add-toggle-item p {
  margin: 0;
}
