/* Case List */

.case-list-wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.case-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 40%);
  gap: 1rem;
  padding: 20px 15px 15px 15px;
  background-color: var(--root-bg-color-light);
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.case-list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 10px;
  border-bottom: 1px solid var(--light-border);
}
.case-list-head-heading-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.case-count-wrapper {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--root-bg-color-light);
}
.case-count {
  font-size: 0.8rem;
  color: var(--dark-grey);
}

/* Case Filter */
.case-filter-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 10px;
  column-gap: 10px;
  position: relative;
}
.sort-by {
  font-size: 0.8rem;
  color: var(--grey);
}
.case-filter-button {
  font-size: 0.85rem;
  padding: 0.65em 1em;
  border: 1px solid var(--light-border);
  background-color: unset;
  min-width: 100px;
}
.case-filter-button:hover {
  background-color: var(--root-bg-color-light);
  color: black;
}
.case-filter-dropdown-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 110%;
  left: 65px;
  background-color: white;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  min-width: 250px;
  z-index: 999;
}
.case-filter-dropdown-item {
  font-size: 0.85rem;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.case-filter-icon {
  font-size: 0.7rem;
}
.case-filter-dropdown-item:hover {
  background-color: var(--root-bg-color-light);
}
.case-filter-subtext {
  font-size: 0.7rem;
  color: var(--grey);
}
.case-filter-check {
  font-size: 0.8rem;
  color: var(--bright-dark-green);
}
.case-filter-section p {
  margin: 0;
}
.case-filter-section {
  font-size: 0.85rem;
  padding: 6px 8px;
  margin: 0 5px;
  color: var(--grey);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: 100ms;
}
.case-filter-section:hover {
  background-color: var(--button-active-bg-hover);
  color: var(--button-active-font);
  border-color: var(--button-active-border);
}
.active-filter:hover {
  background-color: var(--button-active-bg-hover);
}
.active-filter {
  background-color: var(--button-active-bg);
  color: var(--button-active-font);
  border-color: var(--button-active-border);
}

/* Case Search */
.case-list-search {
  width: 20%;
}
.case-list-search input {
  padding: 10px;
  width: 100%;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.case-list-search input:focus-visible {
  outline: none;
}

/* Case Card */

.case-card-wrapper {
  cursor: pointer;
  display: grid;
  grid-auto-rows: 1fr 1.2fr;
  row-gap: 40px;
  padding: 25px;
  border: 1px solid var(--light-border);
  border-radius: 8px;
  color: black;
  transition: 100ms;
  background-color: white;
}
.case-card-wrapper:hover {
  background-color: var(--super-light-grey);
  border-color: var(--medium-border);
}
.case-card-head .phase-icon-wrapper {
  font-size: 0.8rem;
  color: var(--dark-grey);
  font-weight: 400;
  margin-left: 3px;
}
.case-card-head .phase-icon-wrapper i {
  font-size: 0.7rem;
}
.case-card-practice-areas {
  display: flex;
  margin: 5px 0px;
  column-gap: 0.2rem;
}
.case-card-practice-areas h4 {
  font-size: 0.8rem;
  font-weight: 500;
  width: auto;
  color: var(--grey);
}
.case-card-title {
  font-size: 1.35rem;
  margin-top: 10px;
  font-weight: 600;
}
.case-card-tasks {
  display: flex;
  flex-direction: column;
}
.case-card-task-list {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--light-border);
}

/* Case page */
.case-container {
  display: grid;
  grid-template-rows: 1.75fr 1fr;
  height: 100%;
  overflow-y: scroll;
}
.case-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  position: relative;
}
.case-task-container {
  padding: 15px;
}
.case-details-container {
  padding: 15px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.case-top-bar {
  display: flex;
  justify-content: space-between;
  min-height: 25px;
  margin-bottom: 5px;
  /* flex-basis: 10%; */
}
.case-top-bar a {
  color: var(--light-grey);
  font-size: 0.8rem;
  /* min-height: 25px; */
}
.case-top-bar a:hover {
  color: var(--grey);
  transform: 70ms;
}
.extra-settings-wrapper {
  display: flex;
  z-index: 999;
}
.extra-settings-wrapper a {
  border: 1px solid var(--light-border);
  padding: 0px 6px 4px;
  border-radius: 5px;
  transition: 100ms;
  cursor: pointer;
  z-index: 999;
}
.extra-settings-wrapper a:hover {
  border: 1px solid var(--light-border);
  background-color: var(--root-bg-color-light);
}
.drop-down-wrapper {
  position: absolute;
  top: 18px;
  left: 46%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-border);
  border-radius: 3px;
  min-width: 175px;
  min-height: 120px;
  padding: 5px;
  z-index: 99999;
}
.drop-down-item {
  padding: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 5px;
}
.extra-settings-wrapper {
  z-index: 999;
}
.drop-down-item:hover {
  background-color: var(--root-bg-color-light);
}

/* Phase */
.phase-toggle-item {
  z-index: 11;
  padding: 6px 12px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  max-width: 150px;
}

.phase-icon-wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.phase-toggle-item:hover {
  background-color: var(--root-bg-color-light);
  border: 1px solid var(--light-border);
}
.phase-icon-wrapper p {
  margin: 0;
}
.phase-icon-wrapper i {
  font-size: 0.8rem;
}
.phase-toggle-wrapper {
  position: relative;
}
.phase-toggle-dropdown {
  position: absolute;
  background-color: white;
  z-index: 10;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  top: 0;
  padding: 10px;
}
.case-notes {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.case-notes .notes-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.case-notes textarea {
  border: 1px solid var(--light-border);
  border-radius: 5px;
  height: 100%;
  width: auto;
}
.case-notes textarea:focus-visible {
  outline: none;
}
.case-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.case-view-task-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.case-view-task-list {
  border: 1px solid var(--light-border);
  border-radius: 5px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.head-wrapper {
  border-bottom: 1px solid var(--light-border);
}
.case-view-tasks-list-head {
  display: grid !important;
  grid-template-columns: 0.1fr 2fr 2fr 2fr 1fr;
  margin-left: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
.case-view-tasks-list-head p:first-child {
  margin-left: 8px !important;
}
#root .case-view-task-wrapper > div > div.task-sections-wrapper {
  height: 100%;
}
.case-view-task-wrapper > div > div.task-sections-wrapper > div.tasks-list-row {
  padding: 0;
  flex: 1;
  overflow-y: auto;
  cursor: default;
  max-height: 21vh;
}
.case-view-task-wrapper
  > div
  > div.task-sections-wrapper
  > div.tasks-list-row:first-child {
  margin-top: -1px;
}
.case-view-tasks-list-head p {
  border: 0 !important;
  margin: 0 !important;
  padding: 8px 0 !important;
}
#root
  .case-view-task-wrapper
  > div
  > div.task-sections-wrapper
  > div.tasks-list-row
  > div {
  margin-left: 10px;
}
div.case-task-container
  > div
  > div
  > div.task-sections-wrapper
  > div.new-task-toggle-wrapper {
  border-top: 1px solid var(--light-border);
}
.case-view-tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.case-view-tasks-header p {
  font-size: 0.8rem;
  margin: 0;
  color: var(--grey);
  cursor: pointer;
}
.case-view-tasks-header p:hover {
  color: var(--dark-grey);
}
.no-tasks {
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.5rem;
  color: var(--bright-green);
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-border);
}

.case-activity-container {
  border-left: 1px solid var(--light-border);
  border-bottom: 1px solid var(--light-border);
  background-color: var(--root-bg-color-light);
  border-radius: 5px;
  padding: 0px 20px;
  scrollbar-width: none;
  height: 100%;
  position: relative;
}
.case-stats-wrapper {
  display: grid;
  grid-template-columns: 0.75fr 4fr;
  margin-top: 1rem;
  width: 100%;
  gap: 1rem;
}
.case-stats-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.case-title-input {
  width: calc(100% - 10px);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 1.4em;
  margin: 0px 20px 5px -10px;
  font-weight: 600;
}
.case-title-input:hover {
  background-color: var(--root-bg-color-light);
}
.case-title-input:focus-visible {
  outline: 1px solid var(--light-border);
}

.case-practice-areas-wrapper {
  display: flex;
  position: relative;
  column-gap: 5px;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 3px;
  margin-left: -5px;
  cursor: pointer;
}
.case-practice-areas-wrapper:hover {
  background-color: var(--root-bg-color-light);
}

.case-practice-areas-wrapper h4 {
  font-size: 0.9rem;
  color: var(--grey);
  font-weight: 500;
}
.no-area {
  color: var(--grey);
}

/* Practice Area toggle */
.practice-area-list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: var(--light-grey);
  padding-right: 10px;
}
#edit-areas:hover {
  color: black;
  cursor: pointer;
}
#delete-area {
  color: var(--red);
}
#delete-area:hover {
  color: var(--dark-red);
}
.practice-area-item input {
  padding: 6px 6px;
  width: 100%;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.practice-area-item input:focus-visible {
  outline: none;
}

.practice-area-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.9rem;
  z-index: 999;
}
.practice-area-item i {
  color: var(--bright-dark-green);
  font-size: 0.8rem;
}
.practice-area-item:hover {
  background-color: var(--root-bg-color-light);
  border: 1px solid var(--light-border);
}

.practice-area-toggle-heading {
  margin: 5px 10px;
  font-size: 0.9rem;
  color: var(--grey);
}

.toggle-overlay {
  position: absolute;
  background-color: white;
  top: 35px;
  left: 0px;
  z-index: 999;
  padding: 10px 5px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  width: 40%;
  max-height: 50vh;
  overflow: scroll;
}

.case-header .toggle-overlay {
  left: 12px;
  top: 50px;
  width: 25%;
}

.case-assignee-wrapper {
  display: flex;
  column-gap: 5px;
}

/* Case Persons */
.case-persons-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.add-person-button {
  cursor: pointer;
  color: var(--grey);
  font-size: 0.7rem;
  display: flex;
}
.add-person-button:hover {
  color: black;
}
.add-person-p {
  font-size: 0.9rem;
  margin: 0;
  color: var(--grey);
  cursor: pointer;
}

.case-person-link {
  cursor: pointer;
  color: var(--grey);
}
.case-person-amp {
  color: var(--grey);
}
.case-person-link:hover {
  color: black;
}

/* PersonView */
.person-view-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.504);
  border-radius: 7px;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.person-view-wrapper {
  background-color: white;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  z-index: 999;
  padding: 2rem 2rem 4rem;
  width: 50%;
  min-width: 500px;
  max-width: 650px;
}
.person-view-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: var(--grey);
}
.person-view-header {
  font-size: 1.2rem;
  margin: 0;
}
.person-view-header-wrapper i {
  cursor: pointer;
}
.person-view-header-wrapper i:hover {
  color: black;
}
.person-view-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.person-input-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.person-save-message {
  font-size: 0.8rem;
  color: var(--bright-dark-green);
  display: flex;
  align-items: center;
  column-gap: 3px;
  font-weight: 500;
}
.person-save-message i {
  font-size: 0.6rem;
  padding: 4px 3px;
  background-color: var(--button-active-border);
  color: var(--button-active-font);
  border-radius: 20px;
}
.person-error-message {
  font-size: 0.8rem;
  color: var(--dark-red);
  display: flex;
  align-items: center;
  column-gap: 3px;
  font-weight: 500;
}
.person-error-message i {
  font-size: 0.6rem;
  padding: 4px 3px;
  background-color: var(--dark-red);
  color: white;
  border-radius: 20px;
}
.person-input-wrapper {
  display: flex;
  flex-direction: column;
}
.person-input-container {
  padding: 8px 12px;
  margin-top: 5px;
  border: 1px solid var(--light-border);
  border-radius: 3px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-input-container:hover {
  background-color: var(--root-bg-color-light);
}
.person-input-field {
  padding: 3px 0;
  border: none;
  font-size: 0.9rem;
  background-color: transparent;
  outline: none;
  width: 100%;
}
.person-input-field::placeholder {
  color: var(--light-grey);
  opacity: 0.5;
}
.person-input-save {
  font-size: 0.8rem;
  padding: 0px 6px;
  border-radius: 5px;
  background-color: var(--bright-green);
  color: white;
  margin-right: -5px;
}
.person-input-save:hover {
  background-color: var(--bright-dark-green);
  cursor: pointer;
}

.person-input-label {
  font-size: 0.9rem;
  color: var(--grey);
}
.remove-person-button {
  grid-column: span 2;
}
.remove-person-button a {
  cursor: pointer;
  font-size: 0.9rem;
  border: 1px solid var(--light-border);
  padding: 6px 8px;
  border-radius: 5px;
  color: var(--grey);
  font-weight: 600;
}
.remove-person-button a:hover {
  background-color: var(--red);
  color: white;
}
.remove-person-button .confirm-modal-wrapper {
  row-gap: 2rem;
  padding: 2rem;
}
.remove-person-button .confirm-modal-wrapper .confirm-modal-buttons {
  column-gap: 2rem;
  width: 100%;
  justify-content: center;
}
.confirm-modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.no-active-cases {
  top: 20%;
  left: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--grey);
  row-gap: 1.5rem;
  max-width: 25%;
  text-align: center;
}
.no-active-cases i {
  font-size: 3rem;
  color: var(--blue);
}
.sol-input-wrapper {
  display: flex;
  align-items: center;
  max-width: 200px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  z-index: 1;
  padding: 0 5px;
  max-width: 150px;
}
.sol-input-wrapper:hover {
  background-color: var(--root-bg-color-light);
  border-radius: 5px;
}
.sol-input-wrapper i {
  color: var(--grey);
}

div.sol-input-wrapper > div > div > input[type="text"] {
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: unset;
  outline: none;
  width: 100%;
}

@media screen and (min-width: 1800px) {
  .case-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
