/* Nav */
.nav-bar {
  width: 13%;
  padding: 15px;
  background-color: var(--dark-grey);
}
.nav-button {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}
.nav-button i {
  color: var(--light-grey);
  margin-right: 5px;
}
.nav-button:hover {
  background-color: var(--grey);
}
.nav-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav-buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.clg-logo {
  width: 100%;
  margin-bottom: 2rem;
}
.active-nav {
  color: white;
  background-color: rgb(81, 81, 81);
}
#nav-profile {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
