/* Nav */
.nav-bar {
  width: 13%;
  padding: 15px;
  background-color: var(--dark-grey);
  max-width: 200px;
}
.nav-button {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}
.nav-button i {
  color: var(--light-grey);
  margin-right: 5px;
}
.nav-button:hover {
  background-color: rgb(91, 91, 91);
}
.nav-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav-buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.profile-buttons {
  border-bottom: 0;
  border-top: 1px solid var(--grey);
  padding-top: 1rem;
}
.clg-logo {
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grey);
}
.active-nav {
  color: white;
  background-color: rgb(81, 81, 81);
}
.active-nav i {
  color: #3ab99d;
}
#nav-profile {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-left: -3px;
}
.profile-pic-wrapper {
  display: flex;
}
.notification-icon-wrapper {
  position: relative;
}
.notification-push {
  position: absolute;
  right: -2px;
  top: -1px;
  font-size: 0.5rem;
  color: var(--red) !important;
}
.time-keeper-nav-wrapper {
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  padding: 15px 0;
  display: flex;
}
.time-keeper-nav-wrapper i {
  font-size: 1rem;
}

@media screen and (max-width: 1100px) {
  .nav-bar {
    width: 15%;
  }
}
@media screen and (max-width: 950px) {
  .nav-bar {
    width: 18%;
  }
}
