.profile-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.profile-header {
  padding: 15px;
  border-bottom: 1px solid var(--light-border);
}
.profile-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 2rem;
  padding: 15px;
  padding-top: 2rem;
  background-color: var(--root-bg-color-light);
  height: 100%;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  width: calc(100% - 30px);
  background-color: white;
  max-width: 750px;
  margin: 0 auto;
  row-gap: 1rem;
  padding: 4rem 1rem;
}
.user-info h2,
p {
  margin: 0;
}
.user-info img {
  border-radius: 50%;
  width: 120px !important;
  height: 120px !important;
}
.logout-button {
  margin-top: 2rem;
  background-color: var(--bright-green);
  color: white;
}
.logout-button:hover {
  color: white;
  background-color: var(--bright-dark-green);
}
.profile-admin-badge {
  padding: 2px 12px;
  margin: 0;
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
}
