/* Tasks page */
.tasks-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tasks-page-head {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid var(--light-border);
}
.task-filter-wrapper {
  position: relative;
}
.filter-header {
  display: flex;
  align-items: center;
  position: relative;
}
.tasks-case-filter-wrapper {
  position: relative;
}

.task-filter-dropdown {
  position: absolute;
  background-color: white;
  z-index: 10;
  border: 1px solid var(--light-border);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  min-width: 250px;
  left: 5px;
  top: 35px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.no-more-cases {
  color: var(--grey);
  font-size: 0.9rem;
}

.dropdown-case-item {
  font-size: 0.85rem;
  padding: 6px 8px;
  margin: 0;
  color: var(--grey);
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropdown-case-item:hover {
  background-color: var(--button-active-bg-hover);
  color: var(--button-active-font);
  border-color: var(--button-active-border);
}
.tasks-case-filter-button {
  font-size: 0.85rem;
  padding: 6px 8px;
  margin: 0 5px;
  color: var(--grey);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: 100ms;
}
.tasks-case-filter-button-active {
  font-size: 0.85rem;
  padding: 6px 8px;
  margin: 0 5px;
  color: var(--button-active-font);
  background-color: var(--button-active-bg);
  border: 1px solid var(--button-active-border);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: 100ms;
}
.tasks-case-filter-button-active:hover {
  background-color: var(--button-active-bg-hover);
}
.tasks-case-filter-button:hover {
  background-color: var(--button-active-bg-hover);
  color: var(--button-active-font);
  border-color: var(--button-active-border);
}

.new-task-button {
  font-size: 0.85rem;
  padding: 6px 12px;
  margin: 0 5px;
  color: white;
  background-color: var(--bright-green);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.new-task-button:hover {
  background-color: var(--button-active-bg-hover);
  color: var(--button-active-font);
  border-color: var(--button-active-border);
}
.active-filters {
  position: absolute;
  left: 100%;
  top: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  z-index: 5;
}

.filter-tag {
  font-size: 0.8rem;
  margin: 0;
  padding: 5px 8px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-active-bg);
  color: var(--button-active-font);
  border-color: var(--button-active-border);
  white-space: nowrap;
  transition: all 0.2s ease;
}
.filter-tag:hover {
  background-color: var(--button-active-bg-hover);
}
.task-page-task-list-wrapper {
  margin: 15px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.task-list {
  display: grid;
  grid-template-columns: 0.1fr 3fr 2fr 2fr 1fr;
  column-gap: 10px;
  margin: 15px 30px;
  border-bottom: 1px solid var(--light-border);
  border-top: 1px solid var(--light-border);
}
.tasks-list-head {
  display: contents;
}
.tasks-list-head p {
  margin: 5px 0;
  padding: 8px 0px;
  font-size: 0.9rem;
  color: var(--dark-grey);
}
.tasks-list-head p:first-child {
  padding-left: 8px;
}
.inside-border {
  border: 1px solid var(--light-border);
}
.tasks-list-heading {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.tasks-list-heading h4 {
  font-size: 1.1rem;
}
.tasks-list-heading i {
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 5px;
}
.tasks-list-heading i:hover {
  background-color: var(--root-bg-color-light);
}

.tasks-list-row {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px 15px;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.task-list-item {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
}
.task-list-item:first-child {
  border-top: 1px solid var(--light-border);
  border-bottom: 1px solid var(--light-border);
}
.task-list-item:nth-child(n + 2) {
  border-bottom: 1px solid var(--light-border);
}
.task-list-item:hover {
  background-color: var(--root-bg-color-light);
}
.task-list-item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 8px 0;
  font-size: 0.9rem;
}
.task-list-item p:first-child {
  padding-left: 8px;
}
.task-list-assignee-wrapper {
  display: flex;
  column-gap: 5px;
  height: 30px;
}

.task-list-assignee-wrapper img {
  width: 25px !important;
}
.new-task-toggle-wrapper {
  font-size: 1rem;
  color: var(--dark-grey);
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  font-size: 0.9rem;
}
.new-task-toggle-wrapper-active {
  font-size: 1rem;
  color: var(--dark-grey);
  cursor: pointer;
  font-size: 0.9rem;
}

.new-task-toggle-wrapper:hover {
  background-color: var(--root-bg-color-light);
}

.new-task-toggle-wrapper-active .task-list-item:hover {
  background-color: unset;
}
.new-task-toggle-wrapper-active .task-list-item {
  border-top: none;
}
.new-task-toggle {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.new-task-toggle i {
  font-size: 0.7rem;
  margin-bottom: 2px;
}
.new-task-toggle-wrapper {
  border: 0px;
}
.new-task-toggle-wrapper .task-list-item {
  border-top: none;
}
.new-task-item-wrapper input {
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  border: 1px solid var(--light-border) !important;
  margin-top: 5px !important;
  padding: 5px !important;
  outline: none !important;
}

/* TaskView */
.task-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.nav-placeholder {
  width: 10%;
}

.task-view-wrapper {
  min-height: calc(100vh - 70px);
  background-color: white;
  width: 80%;
  height: 85%;
  max-width: 1200px;
  border-radius: 5px;
  border: 1px solid var(--light-border);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.task-view-details {
  color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.task-view-activity-wrapper {
  color: black;
  border-left: 1px solid var(--light-border);
  padding: 0px 15px;
  background-color: var(--root-bg-color-light);
  position: relative;
}
.task-view-header {
  display: flex;
  justify-content: space-between;
}
.task-view-header h3 {
  color: var(--grey);
  font-size: 0.9rem;
}
.task-view-header .drop-down-wrapper {
  left: 51%;
}
.task-input-wrapper input {
  width: calc(100% - 10px);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 1.4em;
  margin: 0px 20px 10px -5px;
  font-weight: 600;
}
.new-task-item-wrapper > .task-input-wrapper input {
  background-color: unset;
  border: none !important;
  margin-left: 20px;
  margin-bottom: 5px;
}
.new-task-item-wrapper > .task-input-wrapper input:hover {
  background-color: unset;
}
.task-input-wrapper input:hover {
  background-color: var(--root-bg-color-light);
}
.task-input-wrapper input:focus-visible {
  outline: 1px solid var(--light-border);
}
.task-view-case-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
}
#move-case-icon {
  color: var(--grey);
  font-size: 0.9rem;
  cursor: pointer;
}
.task-view-case-name {
  cursor: pointer;
  color: var(--dark-grey);
  font-size: 0.9rem;
}
.move-task-wrapper {
  font-size: 0.8rem;
}
#move-case-icon:hover {
  color: black;
}
.task-stats-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  row-gap: 20%;
  column-gap: 5px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.task-stats-container {
  display: contents;
}
.task-stats-item {
  display: contents;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  position: relative;
}
.task-notes {
  margin-top: 5%;
  height: 90%;
}
.task-notes .notes-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.task-notes textarea {
  border: 1px solid var(--light-border);
  border-radius: 5px;
  height: 100%;
}
@media screen and (max-height: 780px) {
  .task-notes textarea {
    height: 100%;
  }
}

.task-list-item-condensed {
  display: grid;
  align-items: center;
  grid-template-columns: 0.25fr 3fr 0.75fr;
  column-gap: 5px;
  padding: 10px;
  margin-left: -5px;
  margin-right: -5px;
  border-radius: 5px;
  background-color: white;
  border-bottom: 1px solid var(--light-border);
}
.task-list-item-condensed:hover {
  background-color: var(--root-bg-color-light);
  border-color: var(--medium-border);
}

.task-list-item-title {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
  margin: 0;
}
.task-list-item-date {
  font-size: 0.9rem;
  text-align: end;
  margin: 0;
}

/* Status toggle */
.status-toggle-wrapper {
  position: relative;
}
.status-toggle-dropdown {
  position: absolute;
  top: 0;
  z-index: 999;
  background-color: white;
  min-width: 150px;
  border-radius: 5px;
  border: 1px solid var(--light-border);
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.dropdown-status:hover {
  background-color: var(--root-bg-color-light);
  border-radius: 5px;
}

/* Status Icon */
.status-icon-wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 4px 6px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 120px;
}
.status-icon-wrapper p {
  margin: 0;
}
.status-icon {
  text-align: start;
}
.status-title {
  font-size: 0.8rem;
  font-weight: 500;
}
.not-started-wrapper p,
.in-progress-wrapper p,
.blocked-wrapper p,
.completed-wrapper p {
  color: white !important;
  font-weight: 600;
}
.not-started-wrapper {
  background-color: var(--grey);
  color: white !important;
}
.in-progress-wrapper {
  background-color: var(--blue);
  color: white !important;
}
.blocked-wrapper {
  background-color: var(--red);
  color: white !important;
}
.completed-wrapper {
  background-color: var(--bright-green);
  color: white !important;
}
.colored-icons .not-started {
  color: var(--grey);
}
.colored-icons .in-progress {
  color: var(--blue);
}
.colored-icons .blocked {
  color: var(--red);
}
.colored-icons .completed {
  color: var(--bright-green);
}
.colored-icons .closed {
  color: var(--dark-grey);
}
.status-title {
  color: var(--dark-grey) !important;
}

/* Case Assignment Toggle */
.task-case-toggle-wrapper {
  padding: 10px;
}
.task-case-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task-case-toggle-heading {
  color: var(--dark-grey);
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.task-case-item {
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.task-case-item:hover {
  background-color: var(--root-bg-color-light);
  border-radius: 5px;
  cursor: pointer;
}
.task-view-case-wrapper .toggle-overlay {
  top: 25px;
  max-height: 250px;
}
