.time-keeper-widget-wrapper {
  position: relative;
}

.time-keeper-widget-container {
  position: absolute;
  top: 110%;
  right: 0;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  min-width: 375px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.time-keeper-warning-wrapper {
  position: absolute;
  z-index: 5;
  right: 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid var(--light-border);
  font-size: 0.9rem;
}
.time-keeper-widget-first {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.time-keeper-widget-second {
  position: relative;
  padding: 0 15px;
}
.time-keeper-start-stop {
  border: none;
  border-radius: 50%;
  padding: 10px;
  color: white;
  background-color: var(--bright-green);
  transition: 200ms;
}
.time-keeper-start-stop:hover {
  border: none;
  color: white;
  background-color: var(--bright-dark-green);
}
.running-toggle {
  background-color: var(--red);
}
.running-toggle:hover {
  background-color: var(--dark-red);
}
.time-keeper-description {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.time-keeper-widget-timer-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.time-keeper-toggle {
  font-size: 1.5rem;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--grey);
  transition: 200ms;
}
.time-keeper-toggle:hover {
  color: black;
  border: none;
  background-color: transparent;
}
.running-button {
  color: var(--bright-green);
}
.running-button:hover {
  background-color: var(--light-border);
  color: var(--bright-dark-green);
  border-radius: 50%;
}
.project-picker-button {
  font-size: 0.9rem;
  width: 100%;
  border: 1px solid var(--light-border);
  transition: 200ms;
  color: var(--dark-grey);
  position: relative;
}
.project-picker-button:hover {
  background-color: var(--light-border);
  border: 1px solid var(--light-border);
  color: black;
}
.project-picker-button:disabled {
  border: none;
  color: var(--grey);
}
.project-picker-button:disabled:hover {
  color: var(--grey);
}
.project-picker-wrapper {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  background-color: white;
  padding: 15px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  max-height: 350px;
  overflow: scroll;
  scrollbar-width: none;
  max-width: 275px;
}
.project-picker-header {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--light-border);
}
.project-picker-search input {
  border: none;
  padding: 10px;
  outline: none;
}
.project-picker-case-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px;
  border-radius: 5px;
}
.project-picker-case-item:hover,
.project-picker-case-item:hover {
  background-color: var(--root-bg-color-light);
  cursor: pointer;
}
.project-picker-case-item i {
  font-size: 0.75rem;
  color: var(--dark-grey);
}
.project-picker-task-item {
  display: flex;
  align-items: start;
  padding: 7px 5px;
  border-radius: 5px;
  overflow: hidden;
}
.project-picker-task-item p,
.project-picker-case-item p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-picker-task-item i {
  font-size: 0.75rem;
}
.project-picker-task-list-wrapper {
  margin-left: 15px;
}
.current-project {
  background-color: var(--root-bg-color-light);
}
.widget-entry-list-wrapper {
  border-top: 1px solid var(--light-border);
  height: 350px;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--root-bg-color-light);
}
.widget-entry-group {
  background-color: white;
}
.widget-entry-day {
  font-size: 0.9rem;
  padding: 15px;
  border-bottom: 1px solid var(--light-border);
  display: flex;
  justify-content: space-between;
}
.widget-entry-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.widget-entry-item:hover {
  background-color: var(--root-bg-color-light);
}
.widget-entry-item-top,
.widget-entry-item-bottom {
  display: flex;
  justify-content: space-between;
}
.widget-entry-item-notes {
  font-size: 0.9rem;
}
.no-notes {
  color: var(--grey);
}
.widget-entry-item-project {
  font-size: 0.9rem;
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#entry-case-icon {
  margin: 0px 6px;
}
#time-entry-start {
  cursor: pointer;
  color: var(--dark-grey);
}

#time-entry-start:hover {
  color: black;
}

/* Entry view */
.entry-view-wrapper {
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: var(--root-bg-color-light);
  padding: 10% 15px;
}
.entry-view-container {
  padding: 60px 30px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.back-button {
  cursor: pointer;
}
.entry-save-button {
  color: white;
  border: none;
  background-color: var(--bright-green);
  padding: 8px 32px;
  transition: 200ms;
}
.entry-save-button:hover {
  color: white;
  border: none;
  background-color: var(--bright-dark-green);
}
.entry-delete-button {
  color: var(--dark-red);
  border: none;
  background-color: unset;
  font-size: 0.9rem;
  transition: 200ms;
}
.entry-delete-button:hover {
  color: white;
  background-color: var(--dark-red);
  border: none;
}

/* Time Picker */
.time-picker-wrapper {
  position: absolute;
  min-height: 300px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  background-color: white;
  z-index: 10;
  padding: 15px;
  top: 100%;
}
.time-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.pickers-wrapper {
  display: flex;
  gap: 30px;
}
.duration-input-wrapper {
  position: relative;
}
.hour-minute-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hour-minute-picker-wrapper p {
  font-size: 0.9rem;
}
.hour-minute-picker-container {
  display: flex;
  gap: 3px;
}
.hour-minute-picker-container input {
  max-width: 20px;
  text-align: center;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
/* Chrome, Safari, Edge, Opera */
.hour-minute-picker-container input::-webkit-outer-spin-button,
.hour-minute-picker-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hour-minute-picker-container input[type="number"] {
  -moz-appearance: textfield;
}

/* List */
.time-keeper-list {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.time-keeper-list-head {
  padding: 10px 15px;
  border-bottom: 1px solid var(--light-border);
}
.time-keeper-list-head,
.time-keeper-list-item {
  display: grid;
  grid-template-columns: 0.25fr 2fr 2fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  font-size: 0.9rem;
}
.time-keeper-list-item {
  padding: 10px 15px;
  transition: 200ms;
  cursor: pointer;
  border-bottom: 1px solid var(--light-border);
}
.time-keeper-list-item img {
  width: 25px !important;
}
.time-keeper-list-item:hover {
  background-color: var(--root-bg-color-light);
}
.time-keeper-item-project {
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.time-keeper-item-project i.fa-briefcase {
  color: var(--dark-grey);
  font-size: 0.9rem;
  padding: 0 6px;
}
