#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login-form {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-buttons {
  display: flex;
  row-gap: 1rem;
  column-gap: 1rem;
}
.writer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  margin-top: 4rem;
  width: 50%;
  outline: none;
  /* border: none; */
  padding: 20px;
  background-color: inherit;
  resize: none;
  font-size: 1rem;
  min-height: 50vh;
  max-height: 100%;
}

.stories-list-container {
  display: flex;
  justify-content: center;
}

.stories-list-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 2rem 0;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
.story-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 40%;
  border: 1px solid grey;
  min-height: 20vh;
}
.updated-at {
  color: grey;
  font-size: 14px;
}
.story-list-story-title {
  font-size: 1.5rem;
}
.story-title {
  min-height: 0;
  margin-top: 1rem;
  padding-bottom: 0;
  font-weight: bold;
  width: 75%;
}
.story-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.saved-status {
  width: 25%;
  margin-top: 30px;
}
.new-story-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 4rem;
}

/* Profile */

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.profile-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-pic {
  background-image: url("/src/assets/profile-pic.png");
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
