@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--root-bg-color-light);
    color: black;
  }
  .app-wrapper {
    background-color: var(--root-bg-color-light);
  }
  .page-wrapper {
    background-color: var(--main-bg-color-light);
    color: black;
  }
  .nav-bar {
    background-color: var(--main-bg-color-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .inactive-nav {
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--root-bg-color-dark);
    color: white;
  }
  .page-wrapper {
    background-color: var(--main-bg-color-dark);
  }
  .nav-bar {
    background-color: var(--main-bg-color-dark);
  }
  button,
  .button {
    background-color: var(--root-bg-color-dark);
  }
  .inactive-nav {
    color: white;
  }
}

/* General */
#root {
  --root-bg-color-dark: rgb(18, 18, 18);
  --main-bg-color-dark: rgb(26, 26, 26);
  --root-bg-color-light: rgb(235, 235, 235);
  --main-bg-color-light: rgb(255, 255, 255);
  --light-grey: rgb(244, 244, 244);
  --grey: rgb(75, 75, 75);
  --light-border: rgb(210, 210, 210);
  --glc-green: #08331d;
  --bright-green: rgb(0, 102, 0);
}

a {
  text-decoration: none;
}

button,
.button {
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
.button:hover {
  color: var(--bright-green);
  border: 1px solid var(--light-border);
}

.app-wrapper {
  display: flex;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  padding: 15px;
  row-gap: 20px;
  column-gap: 15px;
}
.page-wrapper {
  padding: 15px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  width: 100%;
}
/* Nav */
.nav-bar {
  width: 15%;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  padding: 15px;
}
.nav-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav-buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.clg-logo {
  width: 200px;
}
.active-nav {
  color: var(--bright-green);
}
#nav-profile {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

/* Case page */
.case-wrapper {
  display: flex;
  height: 100%;
}
.case-details-container {
  width: 50%;
  margin: 10px 20px;
}
.case-activity-container {
  width: 50%;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  background-color: var(--light-grey);
  padding: 0px 20px;
}
.case-stats-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 250px;
}
.case-stats-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
.case-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.case-assignee-wrapper {
  display: flex;
  column-gap: 5px;
}

/* Case Card */
.case-card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  color: black;
}

/* Task List Item */
.task-list-item {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
/* ProfilePic component */
.profile-pic-wrapper {
  height: auto;
}
.profile-pic-wrapper img {
  width: 25px;
  border-radius: 50%;
}

/* Activity Log */
.activity-log-item-wrapper {
  display: flex;
  justify-content: space-between;
}
.activity-log-items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.activity-log-item-p {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 0.8rem;
  color: var(--grey);
  margin: 0;
}
.activity-log-dot {
  font-size: 5px;
}

/* Task List */
.task-list-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.task-list {
  text-align: left;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 20px;
  align-items: start;
}
.task-list-head {
  display: contents;
}
.task-list-item {
  display: contents;
}
.task-list-item p {
  overflow: auto;
  font-size: 0.9rem;
}
.task-title {
  width: 45%;
}
.task-item-assignee-photo-wrapper {
  display: flex;
  column-gap: 2px;
}

.task-item-assignee-photo {
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 50%;
}

/* Notes */
.case-notes textarea {
  min-height: 15vh;
}

.notes-textarea {
  width: calc(100% - 30px);
  resize: none;
  padding: 15px;
}

/* Assignee Toggle */
.assignee-list-wrapper {
  display: flex;
  column-gap: 10px;
  align-items: top;
  position: relative;
}
.assignee-toggle-photo {
  width: 30px;
  border-radius: 50%;
}
.assignee-toggle-wrapper {
  overflow: visible;
  position: relative;
  display: flex;
  /* align-items: center; */
}
.assignee-toggle-x {
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 999;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.assignee-toggle-name {
  font-size: 0.75rem;
  position: absolute;
  /* background-color: lightblue; */
  padding: 3px 10px;
  left: -8px;
  top: 30px;
  border-radius: 10px;
}
.assignee-toggle-add-wrapper {
  margin-left: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
}
.assignee-add-container {
  width: 100%;
  position: relative;
}

/* AssigneeAddToggle */
.assignee-add-toggle-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 10px;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  min-width: 120px;
  width: 100%;
}
.assignee-add-toggle-wrapper p:nth-child(1) {
  margin: 0;
  padding: 10px 10px;
}
.assignee-add-toggle-item {
  display: flex;
  column-gap: 10px;
  padding: 5px 10px;
  border: 1px solid var(--light-border);
  border-bottom: 0;
  border-left: 0px;
  border-right: 0px;
  cursor: pointer;
}
.assignee-add-toggle-item:hover {
  background-color: var(--light-grey);
}
.assignee-add-toggle-pic {
  width: 25px;
  height: auto;
  border-radius: 50%;
}
.assignee-add-toggle-item p {
  margin: 0;
}
